/* Definições de cores e outras variáveis */
:root {
    --primary-color: #1dabb8; /* Cor principal */
    --secondary-color: #282830; /* Cor secundária */
    --text-color: #666; /* Cor do texto */
    --gridMaxWidth: 35%;
    --gridWidth: 90%;
}

.grid {
    inline-size: var(--gridWidth);
    margin-inline: auto;
    max-inline-size: var(--gridMaxWidth);
}

body {
    background-color: #f0f0f0; /* Altere essa cor conforme necessário */
    margin: 0;
    font-family: Arial, sans-serif; /* Exemplo de fonte padrão */
}

/* Estilos para o cabeçalho */
.login__header {
    background-color: var(--secondary-color);
    border-top-left-radius: var(--loginBorderRadius);
    border-top-right-radius: var(--loginBorderRadius);
    color: #c2b508;
    padding: 1em;
    text-align: center;
}

.login__title {
    font-size: 2rem;
    margin: 0;
}

.login__title-gestor {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}

/* Estilos para o corpo do formulário */
.login__body {
    background-color: #fcf8f8;
    padding: 1.5em;
    position: relative;
}

/* Estilos para os campos de entrada */
.login input[type='text'],
.login input[type='password'],
.login input[type='email'] {
    border: 0.0625em solid #0c0c0c;
    padding: 1em 1.25em;
    width: 100%;
}

.login label {
    font-weight: bold;
}

/* Estilos para os botões */
.login input[type='submit'],
.login .btn {
    background-color: var(--primary-color);
    border-radius: var(--loginInputBorderRadius);
    color: #ffffff;
    font-weight: 700;
    padding: 0.75em 1.25em;
    transition: background-color 0.3s;
}

.login input[type='submit']:focus,
.login input[type='submit']:hover,
.login .btn:focus,
.login .btn:hover {
    background-color: #198d98;
}

/* Estilos para o rodapé */
.login__footer {
    align-items: center;
    background-color: #ffffff;
    border-bottom-left-radius: var(--loginBorderRadius);
    border-bottom-right-radius: var(--loginBorderRadius);
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* Estilos para mensagens de erro */
.alert {
    padding: 0.50em;
    margin: 0em 0;
    border: 2px solid red;
    border-radius: 0.10em;
    margin-bottom: 10px; /* Espaçamento inferior para separar as mensagens */
    color: red;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert.error-usuario {
    /* Estilos adicionais para erro de usuário, se necessário */
}

.alert.error-senha,
.alert.error-confirmar-senha {
    /* Estilos adicionais para erros de senha e confirmação de senha, se necessário */
}

/* Estiliza o título "Gestor de Vendas" */
.login__title-gestor {
    font-size: 2.0rem; /* Tamanho do título aumentado */
    margin-top: 1; /* Reduz a margem superior para posicionamento mais alto */
    text-align: center; /* Centraliza o título */
    margin-top: 5%;
}

/* Estiliza apenas o "by" para ser exibido em minúsculas */
.by-lowercase {
    text-transform: lowercase !important;
}

/* Estilos para o ícone de visualização de senha */
.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
}

.password-toggle-icon:hover {
    color: #1dabb8;
}

.password-field {
    position: relative; /* Garante que a posição seja relativa a este container */
}

.password-field .password-toggle-icon {
    right: 10px; /* Posiciona o ícone à direita */
}
