/* Login */
.grid {
  inline-size: var(--gridWidth);
  margin-inline: auto;
  max-inline-size: 30%;
  display: -ms-grid;
  place-items: center;
  margin-top: 10%;
}

.login__title {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.login__header {
  background-color: #29294e;
  color: #e9da0c;
  padding: 1em;
  text-align: center;
}

.login__body {
  background-color: #d8cbcb;
  padding: 1.5em;
  position: relative;
}

.login__body::before {
  background-color: #d8cbcb;
  content: '';
  height: 0.5em;
  left: 50%;
  margin-left: -0.25em;
  margin-top: -0.25em;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 0.5em;
}

.login__footer {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  border-radius: 0.25em;
}

.login__footer p {
  margin: 0;
}

.login input[type='text'],
.login input[type='password'] {
  border: 1px solid #111111;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.login input[type='password'] {
  border: 1px solid #070707;;
}

.login input[type='submit'] {
  background-color: #1dabb8;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  padding: 12px 20px;
  transition: background-color 0.3s;
}

.login input[type='submit']:hover {
  background-color: #198d98;
}

.by-lowercase {
  text-transform: lowercase;
}

.contact-footer {
  text-align: center;
  font-size: 1em;
  margin-top: 130px;
  color: #666666;
}

.contact-footer a {
  color: inherit;
  text-decoration: none;
}

.contact-footer a:hover {
  color: #b60606;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1dabb8;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #198d98;
}

.btn-dark-color-outline {
  background-color: transparent;
  color: #1dabb8;
  border: 2px solid #1dabb8;
}

.btn-dark-color-outline:hover {
  background-color: #1dabb8;
  color: #fff;
}

.alert {
  padding: 0.50em;
  margin: 0em 0;
  border: 2px solid red;
  border-radius: 0.10em;
}

.alert {
  padding: 0.50em;
  margin: 0em 0;
  border: 2px solid red;
  border-radius: 0.10em;
  margin-bottom: 10px; /* Espaçamento inferior para separar as mensagens */
  color: red;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert.error-usuario {
  /* Estilos adicionais para erro de usuário, se necessário */
}

.alert.error-senha,
.alert.error-confirmar-senha {
  /* Estilos adicionais para erros de senha e confirmação de senha, se necessário */
}

.input-box {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}

.password-toggle-icon:hover {
  color: #1dabb8;
}

.password-field {
  padding-right: 30px;
}

/* Estilos adicionais específicos para o campo de senha */
.login input[type='password'] {
  border: 1px solid #070707;
}
