<!-- templates/dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'geral/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'dashboards/css/dashboards.css' %}"> <!-- Estilos específicos do dashboard -->
    <style>
        body {
            padding-top: 60px; /* Espaçamento para evitar que o conteúdo fique embaixo da navbar */
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="content">
        <h1>Bem-vindo a sua sala de Dashboards, {{ username }}!</h1>
        <p>Escolha um gráfico para visualizar as estatisticas do seu negócio.</p>
    </div>
</body>
</html>

