/* Navbar */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px ;
    height: 50px; /* Ajusta a altura da navbar conforme necessário */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 2;
    display: flex;
}

.navbar-nav-left {
    display: flex;
}


.navbar-nav-right {
    display: flex;
    margin-left: auto; /* Ensures the logout button is pushed to the right */
    padding-right: 2em; /* Reduces right spacing */
    margin-right: 2em; /* Increases right spacing */
}

.navbar-nav-right a {
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    background-color: #dc3545; /* Red background color */
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.navbar-nav-right a:hover {
    background-color: #c82333; /* Darker red on hover */
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar-nav .nav-link {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 22px; /* Aumenta o tamanho da fonte para 18 pixels */
}

.navbar-nav .nav-link:hover {
    background-color: #c0b406;
    border-radius: 10px;
}

